<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="mainCss.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="artSite.css" /> -->

    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
      <!-- Navigation -->
      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">Tim's Art</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Gallery
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li> 
                </ul>
              </div>
            </div>
          </nav> -->
      
          <script>$.get("/string", function(string){
              alert(string)
          })</script>
          <!-- Page Content -->
          <div class="container">
      
            <!-- Page Heading -->
            <h1 class="my-4">Tim's Art
              <!-- <small>Secondary Text</small> -->
            </h1>
      
            <div class="row">
    <p><% rows.forEach(function(product){ %>
        <div class='col-lg-4 col-sm-6 portfolio-item'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top' src='artWork/<%= product.image %>' alt=''></a>
                    <div class='card-body'> 
                        <h4 class='card-title'>
                            <a href='https://taftkhris.wixsite.com/timsart'> <%=product.title %> </a>
                        </h4>
                        <p class='card-text'> <%=product.description %></p>
                           </div>
                    </div>
                </div>
    <% }); %></p>

     <!-- Pagination -->
     <!-- <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul> -->
    
        </div>
        <!-- /.container -->
    
        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; TimsArt 2018</p>
          </div>
          <!-- /.container -->
        </footer>
    
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>